body, html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

#nav-settings {
  color: white;
  background-color: #120e53;
  height: 80px;
  max-height: 80px;
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 100;
}

.navbar-nav{
  background-color: #120e53;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.parallax {
  background-image: url("../src/code.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  text-decoration: none;
  list-style: none;
  border-radius: 2%;
  display: flex;
  place-content: center;
}

.nav-li {
  height: 50px;
  max-height: 50px;
}

.nav-li:hover {
  border: 2px solid white;
  color: black;
}

.text {
  font-weight: 300;
  line-height: 1.6;
  font-size: 22px;
  text-align: center;
}

.text-parallax {
  font-weight: 600;
  line-height: 1.6;
  font-size: 100px;
  color: white;
  position: absolute;
  bottom: 0;
}

.flex-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-options {
  width: 100%;
  height: 100vh;
}

.separador {
  background-color: #120e53;
  height: 80px;
}

footer {
  background-color: #120e53;
  height: 5em;
}

.img {
  margin: 20px;
  border: 1px solid black;
  border-radius: 50% 100% 50% 100%;
}

.grid-tech {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}

.icons-tech {
  font-size: 150px;
}

.li-tech{
  display:flex;
  place-content: center;
  align-items:center;
  flex-direction: column;
}

.icons-contact {
  font-size: 150px;
  padding: 20px;
  color: #202427;
}

li-tech:hover {
  box-shadow: 5px 10px 8px 10px #888888;
}


.flex-options-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact {
  height: 100vh;
}
